@media (max-width: 620px) {
    .container {
        width: 343px;
        height: 611px;
    }

    .content {
        flex-direction: column;
    }

    .content .text-price {
        flex: 1;
        padding: 24px;
    }
}