@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Fraunces:opsz,wght@9..144,700&family=Kumbh+Sans:wght@400;700&family=Manrope:wght@800&family=Montserrat:wght@500;700&family=Public+Sans:wght@300;700&display=swap');

body {
    height: 100vh;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    height: 450px;
    background-color: var(--color-card);
    border-radius: 10px;
    overflow: hidden;
}

.content {
    height: 100%;
    display: flex;
}

.content .text-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
}

.content .text-price .title {
    color: var(--color-text);
    font-family: 'montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 5px;
}

.content .text-price .perfume-name {
    font-family: 'Fraunces', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.content .text-price .perfume-explanation {
    color: var(--color-text);
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.content .text-price .price {
    display: flex;
    align-items: center;
    width: 127px;
    color: var(--color-price-and-button);
    font-family: 'Fraunces', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.content .text-price .price span {
    width: 48px;
    color: var(--color-text);
    font-family: 'montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-decoration: line-through;
    margin-left: 20px;
}

.content .text-price .cart-button {
    height: 48px;
    background-color: var(--color-price-and-button);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.content .text-price a:hover {
    cursor: pointer;
    background-color: var(--color-hover);
}

.content .text-price .cart-button img {
    margin-right: 10px;
}
